@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');


h2{
  margin:0;
  font-weight: 500px;
  font-size: 60px;
  line-height: 1,5;
  text-align: center;
  // color: #1f1813;
  color: var(--title-color);
}

.cards-list{
  font-family: "Neucha", cursive;
  font-weight: 400;
  font-size: x-large;
  margin-bottom: 60px;
}

.add-card-btn{
  cursor: pointer;
  box-sizing: border-box;
  width: 90%;
  position: absolute;
  bottom: 20px;
  left: 5%;
  border: 1px solid var(--board-border-color);
  font-size: x-large;
  font-weight: bold;
  color: var(--board-border-color);
  background-color: var(--add-card-btn-color);
  opacity: 0.5;
  transition: opacity 1s;
}

.add-card-btn:hover{
  opacity: 1;
  border: 2px solid var(--board-border-color);
}

.btn-delete-list{
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  align-self: end;
}

.btn-delete-list:hover{
  border:none;
}

.btn-delete-list>img{
  width: 1vw;
  height: 1vw;
  min-width: 20px;
  min-height: 20px;
}