@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

:root {
  --board-border-color: #8B4513;
  --main-color: #44352b;
  --title-color: #1f1813;
  --sticker-color:#fffa90;
  --add-card-btn-color:#fcc98e;
  --board-background: url('texture.webp');
}


.board{
  box-sizing: border-box;
  margin: 0 auto;
  width: 100vw;
  min-height: 100vh;
  // background: url('https://img.freepik.com/premium-photo/cork-texture-corkboard_88281-1802.jpg'); /* Добавь ссылку на изображение текстуры */
  background: var(--board-background);
  border: 10px solid var(--board-border-color); /* Коричневая рамка */
  padding: 20px;
  font-family: "Amatic SC", sans-serif;
  color: var(--main-color);
}


.board-title{
  margin:0;
  font-weight: bolder;
  font-size: 110px;
  line-height: 1;
  text-align: center;
  color: var(--title-color);
}

.board-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  row-gap: 20px;
  margin: 0;
  padding: 0;
}

.board-list>li{
    width: 24vw;
    min-height: 50vh;
    background-color: var(--sticker-color); /* Желтый цвет, как у стикеров */
    padding: 10px;
    // position: absolute;
    transform: rotate(-2deg); /* Легкий наклон для естественности */
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2); /* Тень для записок */
    transition: box-shadow 1s;
}

.board-list>li:hover{
  box-shadow: 10px 3px 6px rgba(0, 0, 0, 0.2); /* Тень для записок */
}

.add-list-btn{
  width: 100px;
  height: 100px;
  // background-color: #ddb139; /* Цвет кнопки, соответствующий стилю стикеров */
  background-color: #8b45135d;
  border: none;
  border-radius: 50%; /* Круглая кнопка */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  position: fixed;
  bottom: 20px; /* Положение кнопки на доске */
  right: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.add-list-btn:hover{
  transform: scale(1.1); /* Увеличение кнопки при наведении */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.add-list-btn:active{
  transform: scale(0.95); /* Эффект нажатия */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.open-settings-btn{
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
}

.open-settings-btn:hover{
  border: none;
  box-shadow: none;
}

.log-out-btn{
  border: none;
  background: rgba(255, 255, 255, 0.3);
  font-size: 40px;
  font-weight: bold;
  font-family: "Amatic SC", sans-serif;
  color: #1f1813;
  cursor: pointer;
}

.log-out-btn:hover{
  border: none;
}

.board>header{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header-link{
  text-decoration: none;
  font-size: 40px;
  margin-right: 20px;
  font-weight: bold;
  color: var(--title-color);
}